body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  overscroll-behavior: none;
  background:#000;
}
*, *::before, *::after {
  box-sizing: border-box;
}
div {
  overscroll-behavior: none;
}
::-webkit-scrollbar {
  display: none;
}
#terminal {
  width: 100vw;
  height: 100vh;
  color: white;
  background: linear-gradient(217deg, #49346455, rgba(255,0,0,0) 70.71%),
            linear-gradient(127deg, #49366155, rgba(0,255,0,0) 70.71%),
            linear-gradient(336deg, #472c5255, rgba(0,0,255,0) 70.71%);          
  font-family: "minlo";
  font-size: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
code {
  font-weight: bold;
  color: rgb(117, 117, 236);
}
#inputRow {
  width: "100%";
  display: flex;
  flex-direction: row;
}
#caret {
  display: inline;
}
#input {
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'minlo';
  outline: none;
  font-size: 20px;
  padding: 0;
  flex: 1;
}
@font-face {
  font-family: minlo;
  font-weight: normal;
  src: url(6166d93e095ac86bc7d2.woff2);
}
@font-face {
  font-family: minlo;
  font-weight: bold;
  src: url(2c51e9f8527526a9afea.woff2);
}
